@font-face {
  font-family: 'SeoulNamsan';
  src:url('SeoulNamsan.ttf') format('truetype');
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'SeoulNamsan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.SeoulNamsan {
  font-family: 'SeoulNamsan', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
